<a href="https://colab.research.google.com/github/anooprnathblq/DSA_Python/blob/main/Assignment_PP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.Program to print the area of a circle
rad=int(input("Enter the radius  : "))
area=(22/7)*rad**2
print("Area of the circle is ",area)

Enter the radius  : 3
Area of the circle is  28.285714285714285

In [ ]:
#2.Program to print details of a student
stud_name=input("Enter the name : ")
stud_roll=input("Enter the roll number : ")
stud_marks=input("Enter the marks : ")
print("Name    : ",stud_name)
print("Roll No : ",stud_roll)
print("Marks   : ",stud_marks)

Enter the name : Rishith
Enter the roll number : 3127
Enter the marks : 84
Name    :  Rishith
Roll No :  3127
Marks   :  84

In [6]:
#3.Program to print the largest number
myList3=[12,3,47,1]
max=0
for i in range(0,len(myList3)):
  if myList3[i]>max:
    max=myList3[i]
print(max,"is the largest number")

47 is the largest number

In [ ]:
#3.Program to print the largest number #Alternative
myList3=[12,3,47,1]
myList3.sort(reverse=True)
print(myList3[0],"is the largest number")

47 is the largest number

In [ ]:
#3.Program to print the largest number #Alternative
myList3=[12,3,47]
max_num=max(myList3)
print(max_num,"is the largest number")

47 is the largest number

In [8]:
#4.Program to iterate and print the sum of range of numbers
myList4=[1,2,3,4,5,6,7,8,9,10]
curr_num=0
pre_num=0
sum=0
for i in myList4:
  curr_num=i
  sum=curr_num+pre_num
  print("Current number ",curr_num,end="  ")
  print("Previous number ",pre_num,end='  ')
  print("Sum  :",sum)
  pre_num=curr_num

Current number  1  Previous number  0  Sum  : 1
Current number  2  Previous number  1  Sum  : 3
Current number  3  Previous number  2  Sum  : 5
Current number  4  Previous number  3  Sum  : 7
Current number  5  Previous number  4  Sum  : 9
Current number  6  Previous number  5  Sum  : 11
Current number  7  Previous number  6  Sum  : 13
Current number  8  Previous number  7  Sum  : 15
Current number  9  Previous number  8  Sum  : 17
Current number  10  Previous number  9  Sum  : 19

In [ ]:
#5.Program to print numbers divisibel by 5
myList5=[10,20,33,46,55]

for i in myList5:
  if (i%5==0):
     print(i,end=" ")

10 20 55

In [ ]:
#6.Program to check whether a number is prime
num=int(input("Enter the number :"))
if num>1:
  for i in range(2,num):
    if num%i==0:
      print(num,"not a prime number")
      break
  else:
    print(num,"is a prime number")
else:
  print("num","is not a prime number")

Enter the number :3
3 is a prime number

In [ ]:
#7.Program to reverse a list
myList7=[10,40,30,70]
myList8=[]

for i in range(len(myList7),0,-1):
  myList8.append(myList7[i-1])

print(myList8)

[70, 30, 40, 10]

In [ ]:
#8.Program to print a pattern
for i in range(0,4):
  for j in range(i+1):
    print("*",end ="")
  print("\n")

*

**

***

****

In [ ]:
#9.Program to find the maximum of three numbers
a=34
b=12
c=7
if a>b and a> c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

34

In [ ]:
#10.Program to print a pattern
k=1
for i in range(0,9):

  if i<5 :
    for j in range(i+1):
      print("*",end ="")
    print("\n")
  else:

    for  j in range(0,i-k):
      print("*",end ="")
    print('\n')
    k=k+2

*

**

***

****

*****

****

***

**

*